.nav-btn {
    border: none;
    background: none;
    color: $primary-colour-green;

    letter-spacing: 3px;
    font-family: 'Mx437 IBM Model3x Alt4', monospace;

    transition: all ease-in-out 300ms;
    overflow: hidden;

    &::before {
        content: '';
        position: absolute;
        width: 110%;
        height: 110px;
        transform: translateX(-100%);
        visibility: hidden;
        background-color: $primary-colour-green-1;
        z-index: -1;
        transition: all ease-in-out 300ms;
    }

    &:hover {
        cursor: pointer;
        color: $tertiary-colour-white;

        &::before {
            visibility: visible;
            transform: translateX(-10%);
        }
    }
}

.img-btn-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;

    &:hover {
        cursor: pointer;
        .img-btn {
            opacity: 0.3;
        }

        .img-btn-overlay {
            opacity: 1;
        }
    }

    .img-btn {
        transition: all ease-in 200ms;
    }

    .img-btn-overlay {
        position: absolute;
        opacity: 0;
        transition: all ease-in 200ms;
    }
}
