@import '../utils/variables.scss';

.project-card-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 300px;
    margin: 60px 0;

    &:nth-child(odd) {
        flex-direction: row-reverse;
        @media only screen and (max-width: $medium-screen) {
            flex-direction: column;
            padding: 350px 0;
        }
    }

    @media only screen and (max-width: $medium-screen) {
        flex-direction: column;
        margin: 150px 0;
    }

    img {
        object-fit: cover;
    }

    .project-description {
        display: flex;
        align-items: center;
        font-size: 18px;
        width: 30%;
        height: 100%;
        @media only screen and (max-width: $medium-screen) {
            width: 80%;
            padding: 10px 0;
        }
    }

    .project-tech-stack {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        width: 30%;
        height: 100%;
        @media only screen and (max-width: $medium-screen) {
            width: 80%;
            padding: 10px 0;
        }
    }
}
