@import '../utils/colours.scss';
@import '../utils/variables.scss';

.about-page-container {
    // min-height: 100vh;
    border: 3px solid red;
    display: flex;
    justify-content: center;
    align-items: center;

    @media only screen and (max-width: $medium-screen) {
        align-items: stretch;
    }

    .inner-container {
        display: flex;
        flex-direction: column;
        width: 80%;
        max-width: 2000px;
        justify-content: space-evenly;

        @media only screen and (max-width: $large-screen) {
            width: 90%;
        }

        @media only screen and (max-width: $medium-screen) {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        h1 {
            font-size: 60px;
            color: $primary-colour-green;
            margin-right: auto;

            @media only screen and (max-width: $small-screen) {
                font-size: 8vw;
            }
        }

        .content {
            display: flex;
            justify-content: space-between;

            @media only screen and (max-width: $medium-screen) {
                flex-direction: column;
                justify-content: space-evenly;
                height: 100%;
            }

            .text-content {
                width: 50%;

                @media only screen and (max-width: $medium-screen) {
                    width: 100%;
                }

                p {
                    font-size: 28px;

                    @media only screen and (max-width: $medium-screen) {
                        font-size: 24px;
                    }

                    @media only screen and (max-width: $small-screen) {
                        font-size: 22px;
                    }
                }

                .skills-list {
                    color: $tertiary-colour-white;
                    font-family: 'Mx437 IBM Model3x Alt4', monospace;
                    font-size: 28px;

                    @media only screen and (max-width: $medium-screen) {
                        font-size: 24px;
                    }

                    @media only screen and (max-width: $small-screen) {
                        font-size: 22px;
                    }
                }
            }

            .image-content {
                display: flex;
                justify-content: center;
                align-items: center;

                width: 30%;

                @media only screen and (max-width: $medium-screen) {
                    flex-direction: column;
                    width: 100%;
                }

                img {
                    min-width: 250px;
                    max-width: 100%;
                    width: 100%;

                    @media only screen and (max-width: $medium-screen) {
                        width: 50%;
                    }
                }
            }
        }
    }
}
