@import '../utils/colours.scss';
@import '../utils/keyframes.scss';
@import '../utils/variables.scss';

.landing-page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;

    .typewriter-content {
        margin: 40px 0;

        .Typewriter {
            .typewriter-wrapper-landing-page,
            .typewriter-cursor-landing-page {
                font-size: 40px;
                font-family: 'VT323', monospace;
                color: white;
                letter-spacing: 3px;

                @media only screen and (max-width: $small-screen) {
                    font-size: 6vw;
                }
                @media only screen and (max-width: $xxsmall-screen) {
                    font-size: 7vw;
                    letter-spacing: 0px;
                }
            }

            .typewriter-cursor-landing-page {
                animation: blink 900ms steps(2, start) infinite;
            }
        }
    }
}
