@import '../utils/colours.scss';
@import '../utils/keyframes.scss';

.landing-page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;
    width: 100%;

    .typewriter-content {
        margin: 100px 0 0 0;

        .typewriter-wrapper-landing-page {
            font-size: 40px;
            font-family: 'VT323', monospace;
            color: white;
            letter-spacing: 3px;
        }

        .typewriter-cursor-landing-page {
            font-size: 40px;
            font-family: 'VT323', monospace;
            color: white;
            letter-spacing: 3px;
            animation: blink 900ms steps(2, start) infinite;
        }
    }

    .navbar {
        display: flex;
        justify-content: space-between;

        margin: 100px 0 0 0;
        width: 50%;
        height: 32px;

        * {
            border: none;
            background: none;
            font-size: 30px;
            letter-spacing: 5px;
            font-family: 'Mx437 IBM Model3x Alt4', monospace;
            color: $primary-colour-green;
            animation: fade-in ease-in-out 3000ms;
        }
    }
}

.text-orange {
    color: $secondary-colour-orange;
}

.text-green {
    color: $primary-colour-green;
}
