@import './utils/colours.scss';
@import './utils/keyframes.scss';
@import './utils//variables.scss';

@font-face {
    font-family: 'Mx437 IBM Model3x Alt4';
    src: url(../assets/fonts/Web437_IBM_Model3x_Alt4.woff) format('truetype');
}

// html {
//     // height: 100%;
// }

body {
    min-height: 100vh;
    margin: 0;
    overflow-y: scroll;
    overflow-x: hidden;

    background: linear-gradient(#33343a 1px, #fff 100px);
    background-size: 100% 3px;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

#root {
    display: flex;
    position: relative;
}

h1,
h2,
h3 {
    color: $tertiary-colour-white;
    font-weight: normal;
    font-family: 'VT323', monospace;
}

h1 {
    font-size: 60px;
    color: $primary-colour-green;
    // margin-right: auto;

    @media only screen and (max-width: $small-screen) {
        font-size: 8vw;
    }
}

p {
    color: $tertiary-colour-white;
    font-family: 'Mx437 IBM Model3x Alt4', monospace;
}

section {
    // padding: 0 100px;

    @media only screen and (max-width: $medium-screen) {
        padding: 0 3%;
    }
}

.content-space {
    position: relative;
    width: 100%;
}

.overlay {
    position: absolute;
    height: 100%;
    width: 100%;

    pointer-events: none;

    //  horizontal line effect
    &::before {
        content: '';
        display: block;
        position: absolute;

        pointer-events: none;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;

        background: linear-gradient(
            $background-colour 0% 25%,
            transparent 25% 100%
        );
        background-size: 100% 3px;

        z-index: 1;
    }

    // scan line effect
    &::after {
        content: '';
        position: fixed;
        display: block;
        animation: scan 10s 5s infinite cubic-bezier(0.17, -0.01, 0.6, 0.98);
        background: linear-gradient(
            to bottom,
            rgba(0, 221, 0, 0) 0%,
            rgb(37, 114, 37) 50%,
            rgba(0, 221, 0, 0) 100%
        );
        height: 60px;
        opacity: 0.05;
        left: 0;
        right: 0;
        top: -10%;
        z-index: 3;
    }
}
