@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(400%);
            transform: translateX(400%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(400%);
            transform: translateX(400%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(-400%);
            transform: translateX(-400%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(-400%);
            transform: translateX(-400%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes blink {
  from {
    visibility: visible;
  }
  to {
    visibility: hidden;
  }
}

@keyframes blink {
  from {
    visibility: visible;
  }
  to {
    visibility: hidden;
  }
}

@-webkit-keyframes pop-up {
  0% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    opacity: 0;
  }
  80% {
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes pop-up {
  0% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    opacity: 0;
  }
  80% {
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes scan {
  from {
    top: -10%;
  }
  to {
    top: 100%;
  }
}

@keyframes scan {
  from {
    top: -10%;
  }
  to {
    top: 100%;
  }
}

@font-face {
  font-family: 'Mx437 IBM Model3x Alt4';
  src: url(../assets/fonts/Web437_IBM_Model3x_Alt4.woff) format("truetype");
}

body {
  min-height: 100vh;
  margin: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  background: linear-gradient(#33343a 1px, #fff 100px);
  background-size: 100% 3px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.content-space {
  position: relative;
  width: 100%;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  pointer-events: none;
}

.overlay::before {
  content: '';
  display: block;
  position: absolute;
  pointer-events: none;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#33343a), color-stop(25%, transparent));
  background: linear-gradient(#33343a 0% 25%, transparent 25% 100%);
  background-size: 100% 3px;
  z-index: 2;
}

.overlay::after {
  content: '';
  position: fixed;
  display: block;
  -webkit-animation: scan 10s 5s infinite cubic-bezier(0.17, -0.01, 0.6, 0.98);
          animation: scan 10s 5s infinite cubic-bezier(0.17, -0.01, 0.6, 0.98);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 221, 0, 0)), color-stop(50%, #257225), to(rgba(0, 221, 0, 0)));
  background: linear-gradient(to bottom, rgba(0, 221, 0, 0) 0%, #257225 50%, rgba(0, 221, 0, 0) 100%);
  height: 60px;
  opacity: 0.05;
  left: 0;
  right: 0;
  top: -10%;
  z-index: 3;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(400%);
            transform: translateX(400%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(-400%);
            transform: translateX(-400%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes blink {
  from {
    visibility: visible;
  }
  to {
    visibility: hidden;
  }
}

@keyframes pop-up {
  0% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    opacity: 0;
  }
  80% {
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes scan {
  from {
    top: -10%;
  }
  to {
    top: 100%;
  }
}

.flicker {
  -webkit-animation: flicker 3s infinite;
          animation: flicker 3s infinite;
}

.text-orange {
  color: #ffa14a;
}

.text-green {
  color: #62e17e;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(400%);
            transform: translateX(400%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(-400%);
            transform: translateX(-400%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes blink {
  from {
    visibility: visible;
  }
  to {
    visibility: hidden;
  }
}

@keyframes pop-up {
  0% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    opacity: 0;
  }
  80% {
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes scan {
  from {
    top: -10%;
  }
  to {
    top: 100%;
  }
}

.side-column-left-container {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 186px;
  height: 100vh;
}

.side-column-right-container {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 186px;
  height: 100vh;
}

.side-column-right-container .resume {
  color: #62e17e;
  font-family: 'Mx437 IBM Model3x Alt4';
  font-size: 24px;
  line-height: 24px;
  border: 2px solid #62e17e;
  text-align: center;
  padding: 10px;
  margin: 30px 0 0 0;
  width: 111px;
  -webkit-animation: slide-in-left ease-out 800ms;
          animation: slide-in-left ease-out 800ms;
  -webkit-transition: all ease-in-out 300ms;
  transition: all ease-in-out 300ms;
}

.side-column-right-container .resume:hover {
  cursor: pointer;
  background-color: #44a058;
  border-color: #44a058;
  color: #fff;
}

.side-column-right-container .contact-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 350px;
}

.side-column-right-container .contact-details .Typewriter {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.side-column-right-container .contact-details .typewriter-wrapper-column,
.side-column-right-container .contact-details .typewriter-cursor-column {
  font-family: 'VT323', monospace;
  font-size: 40px;
  color: #fff;
  opacity: 0;
  -webkit-animation: fade-in ease-out 400ms forwards;
          animation: fade-in ease-out 400ms forwards;
}

.side-column-right-container .contact-details .contact-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 180px;
  margin: 0 0 30px 0;
}

.side-column-right-container .contact-details .contact-icons * {
  width: 25px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-animation: slide-in-left ease-out 600ms;
          animation: slide-in-left ease-out 600ms;
  -webkit-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
}

.side-column-right-container .contact-details .contact-icons *:hover {
  cursor: pointer;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(400%);
            transform: translateX(400%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(-400%);
            transform: translateX(-400%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes blink {
  from {
    visibility: visible;
  }
  to {
    visibility: hidden;
  }
}

@keyframes pop-up {
  0% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    opacity: 0;
  }
  80% {
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes scan {
  from {
    top: -10%;
  }
  to {
    top: 100%;
  }
}

.landing-page-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 100%;
}

.landing-page-container .typewriter-content {
  margin: 100px 0 0 0;
}

.landing-page-container .typewriter-content .typewriter-wrapper-landing-page {
  font-size: 40px;
  font-family: 'VT323', monospace;
  color: white;
  letter-spacing: 3px;
}

.landing-page-container .typewriter-content .typewriter-cursor-landing-page {
  font-size: 40px;
  font-family: 'VT323', monospace;
  color: white;
  letter-spacing: 3px;
  -webkit-animation: blink 900ms steps(2, start) infinite;
          animation: blink 900ms steps(2, start) infinite;
}

.landing-page-container .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 100px 0 0 0;
  width: 50%;
  height: 32px;
}

.landing-page-container .navbar * {
  border: none;
  background: none;
  font-size: 30px;
  letter-spacing: 5px;
  font-family: 'Mx437 IBM Model3x Alt4', monospace;
  color: #62e17e;
  opacity: 0;
  -webkit-animation: pop-up ease-in-out 200ms forwards;
          animation: pop-up ease-in-out 200ms forwards;
  overflow: hidden;
  -webkit-transition: all ease-in-out 300ms;
  transition: all ease-in-out 300ms;
}

.landing-page-container .navbar *::before {
  content: '';
  position: absolute;
  width: 110%;
  height: 110px;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  visibility: hidden;
  background-color: #44a058;
  z-index: -1;
  -webkit-transition: all ease-in-out 300ms;
  transition: all ease-in-out 300ms;
}

.landing-page-container .navbar *:hover {
  cursor: pointer;
  color: #fff;
}

.landing-page-container .navbar *:hover::before {
  visibility: visible;
  -webkit-transform: translateX(-10%);
          transform: translateX(-10%);
}

.landing-page-container .navbar :nth-child(1) {
  -webkit-animation-delay: 100ms;
          animation-delay: 100ms;
}

.landing-page-container .navbar :nth-child(2) {
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}

.landing-page-container .navbar :nth-child(3) {
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
}

.landing-page-container .navbar :nth-child(4) {
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}

.about-page-container {
  min-height: 100vh;
  width: 100%;
  border: 3px solid red;
}

.experience-page-container {
  min-height: 100vh;
  width: 100%;
  border: 3px solid green;
}

.projects-page-container {
  min-height: 100vh;
  width: 100%;
  border: 3px solid purple;
}
/*# sourceMappingURL=main.css.map */