// general
$primary-colour-green: #62e17e;
$primary-colour-green-1: #44a058;
$secondary-colour-orange: #ffa14a;
$tertiary-colour-white: #fff;

//backgrounds
$background-colour: #33343a;
$background-colour-transparent: #33343ae7;
$mobile-navbar-background-colour: #0a1141;

// icons
$icon-color-primary: #62e17e;
$icon-color-secondary: #fff;
