@import './colours.scss';
@import './keyframes';

.flicker {
    animation: flicker 3s infinite;
}

.text-orange {
    color: $secondary-colour-orange;
}

.text-green {
    color: $primary-colour-green;
}
