@import './colours.scss';
@import './keyframes';

.text-orange {
    color: $secondary-colour-orange;
}

.text-green {
    color: $primary-colour-green;
}

.pop-in {
    animation: pop-up ease-in-out 200ms forwards;
}
